@model CinemaBookingWeb.ViewModel.MovieViewModel
@{
    ViewBag.Title = "Movie information";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
Here you can see movie description. Other fields - to be implemented
<h4>@Model.Description</h4>
